.main {
  margin: 3vh 3vh 3vh 0px;
}
.applications {
  height: 94vh;
  padding: 15px;
  border: 3px solid rgb(207, 215, 219);
  background-color: rgb(240, 242, 243);
  border-radius: 15px;
  width: calc(100vw - (250px + 9vh));
  overflow-y: scroll;
  box-shadow: 20px 0px 37px 8px rgba(143, 154, 163, 0.4);
  &Wrapper {
    position: relative;
  }
}
.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.items {
}
.item {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 25% 25% 47%;
  list-style: none;
  padding: 10px 3px;
  cursor: pointer;
  &:hover {
    background-color: #dadfe186;
  }
  & + & {
    border-top: 1px solid #ccc;
  }
  & > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &Name {
    font-weight: 500;
  }
  &FriendsList {
    & > span:first-child {
      font-weight: 500;
    }
  }
  &Date {
    text-align: end;
  }
}
.chartWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 40%;
}
